body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 36, 36);
}

main{
    height: 500px;
}

.layout{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "sidebar main";
    grid-template-columns: 64px auto;
    grid-template-rows: auto 500px;
}

sidebar{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100%;
    margin-top: 10px;
    
}



#barra-principal{
    grid-area: nav;
    background-color: rgb(36, 36, 36);
    height: 65px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: nowrap;
    width: 100%;
}

p{
    font-family: "Roboto", sans-serif;
}

.estilo-barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    height: 70px;  
}

.mais-opções{
    display: flex;
    margin-left: 5px;
    margin-right: 10px;
    justify-content: space-evenly;  
}

.nav-bar-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    flex-shrink: 0;

}

.logo{
    margin-left: 15px;
}

.nav-bar-2 {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
  }

.style-bar-2{
    border: solid #f0f8ff 1px;
    min-width: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 30px 30px 30px 30px;
}

input.RECEBA{
    margin-left: 10px;
    color: #f0f8ff;
    width: 325px;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}


.pesquise{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-pesquisa{
    background-color: rgb(57, 57, 57);
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    border-left: solid #f0f8ff 1px; 
    height: 40px;
    width: 60px;
    cursor: pointer;
}

.pesquise img{
    width: 20px;
}

.nav-bar-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.notification{
    margin: 10px
}

.sininho{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.botao-criar{
    display: block;
    justify-content: center;
    background-color: #5e5e5e;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 70px;

}
.texto-criar{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #f0f8ff;
    height: 10px;
    width: 60px;
    cursor: pointer;
}

.pfp img{
    object-fit: cover;
    object-position: left;
    border-radius: 100%;
    padding: 0 10px 0 10px;
    margin-right: 20px;
}

.grupo-tagzinha{
    align-items: center;
    display: flex;
    justify-content: start  ;
    margin-left: 20px;
    height: 80px;
    gap: 10px

}
.grupo-tagzinha button.tagzinha1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.grupo-tagzinha button{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: #5e5e5e;
    color: #f0f8ff;
    border: none;
    outline: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px;

}

.HOME, .SUBS, .YOU{
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: xx-small;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.barra-lateral img{
    width: 24px;
}

.barra-lateral button{
    color: #f0f8ff;
    background-color: transparent;
    border: none;
    outline: none;
}

.inline-text-sidebar{
    display: flex;
    justify-items: center;
    align-items: center;
} 

/*Tag pai recomendados*/
.videos-recomendados{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.video1{
    width: 300px;
}
.thumb{
    border-radius: 10px;
}

.card-princi{
    margin-top: 5px;
    display: grid;
    align-items: center;
    width: 300px;
    grid-template-columns: 35px auto 30px;
    grid-template-rows: auto 20px;
    grid-template-areas: 
    "box1 box2"
    ". box3";
}
.nome-canal{
    grid-area: box3;
}

.nome-canal p{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    color: #b5b4b4;
    justify-content: center;
    align-items: start
}
.canal{
    border-radius: 30px;
    grid-area: box1;
}

.titulo p{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #f0f8ff;
    margin: 0px;
    margin-left: 10px;
}

.ntitlec{
    margin-top: 10px;
    margin-left: 45px;
}

.ntitlec span{
    font-family: "Roboto", sans-serif;
    color: #b5b4b4;
}

.container-videos{
    margin-left: 20px;
    margin-right: 20px;
}
